card-div{
    
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    

}
nav-bar-ul{
    
    
}
.a{
    color: green;
}
.gap{
    gap: 15px;
}
.test{
    background-color: brown;
    
}